.tabBar {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: grey;

  button {
    align-self: center;
    text-transform: uppercase;
    font-weight: bold;
  }
}
